.show-info {
    border: 1px solid #c09853;
    border-radius: 3px;
    margin: 2.5px 3px 2.5px 3px;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.unavailable-show {
    background: lightgrey;
}
