@model IEnumerable<PhoneTicket.Web.Models.Show>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Funciones</h2>

<div class="row">
    <div class="col-md-3">
        @Html.ActionLink("Crear nuevas", "Create")        
    </div>
</div>
