@{
    ViewBag.Title = "PhoneTicket";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <div><h1 class="welcome-title">@ViewBag.Title</h1></div>
            <div><h2 class="welcome-subtitle">@ViewBag.Message</h2></div>
        </div>
    </section>
}
<h3>Estas son las operaciones que puede realizar:</h3>
<ol class="round">
    <li class="one">
        <h5>Usuarios</h5>
        Haga click en <b>Usuarios</b> para ver a los usuarios registrados y manejar su habilitación.
    </li>

    <li class="two">
        <h5>Cartelera</h5>
        Haga click en <b>Cartelera</b> para administrar a las películas.
    </li>

    <li class="three">
        <h5>Funciones</h5>
        Haga click en <b>Funciones</b> para administrar las funciones de las películas.
    </li>
    
    <li class="four">
        <h5>Salas</h5>
        Haga click en <b>Salas</b> para administrar las salas de los complejos.
    </li>
    
    <li class="five">
        <h5>Promociones</h5>
        Haga click en <b>Promociones</b> para administrar las promociones disponibles para los clientes.
    </li>

    <li class="six">
        <h5>Reportes</h5>
        Haga click en <b>Reportes</b> para ver los reportes disponibles.
    </li>
</ol>
